In [1]:
import numpy as np
import pandas as pd
dataset = "datasets/sales_subset.csv"
sales_df = pd.read_csv(dataset)
sales_df

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808
...,...,...,...,...,...,...,...,...,...,...
10769,10769,39,A,99,2011-12-09,895.00,False,9.644444,0.834256,7.716
10770,10770,39,A,99,2012-02-03,350.00,False,15.938889,0.887619,7.244
10771,10771,39,A,99,2012-06-08,450.00,False,27.288889,0.911922,6.989
10772,10772,39,A,99,2012-07-13,0.06,False,25.644444,0.860145,6.623
10773,10773,39,A,99,2012-10-05,915.00,False,22.250000,0.955511,6.228

# Mean / Median / Mode / Min / Max / Var / Std / Sum

In [10]:
print(f'Mean: {sales_df["weekly_sales"].mean()}')
print(f'Median: {sales_df["weekly_sales"].median()}')
print(f'Mode: {sales_df["weekly_sales"].mode()}')
print(f'Min: {sales_df["weekly_sales"].min()}')
print(f'Max: {sales_df["weekly_sales"].max()}')
print(f'Var: {sales_df["weekly_sales"].var()}')
print(f'Std: {sales_df["weekly_sales"].std()}')
print(f'sum: {sales_df["weekly_sales"].sum()}')

Mean: 23843.95014850566
Median: 12049.064999999999
Mode: 0    12.0
Name: weekly_sales, dtype: float64
Min: -1098.0
Max: 293966.05
Var: 913271824.0892733
Std: 30220.387556900612
sum: 256894718.89999998

# Agg

In [11]:
def pct30(column):
    return column.quantile(0.3)

sales_df["weekly_sales"].agg(pct30)

np.float64(5128.481000000001)

In [13]:
# padding multiple functions to Agg
def pct40(column):
    return column.quantile(0.4)
sales_df["weekly_sales"].agg([pct30,pct40])

pct30    5128.481
pct40    8327.190
Name: weekly_sales, dtype: float64

# Cumulative sum

In [14]:
sales_df["weekly_sales"].cumsum()

0        2.492450e+04
1        4.675240e+04
2        1.040108e+05
3        1.214248e+05
4        1.389829e+05
             ...
10769    2.568930e+08
10770    2.568934e+08
10771    2.568938e+08
10772    2.568938e+08
10773    2.568947e+08
Name: weekly_sales, Length: 10774, dtype: float64

# Counting

In [ ]:
# dataframe.drop_duplicates(subset=columnname) # remove the duplicates
# dataframe["columnname"].value_counts() # get the count of each element in the column
# dataframe["columnname].value_counts(sort=True) # sort the counts in descending order
# dataframe["columnname].value_counts(normalize=True) # convert the count into proportion of the total

# Grouped summary statistics

In [15]:
# dataframe.groupby("coumnname")["anothercoulm"].mean()
sales_df.groupby("store")["weekly_sales"].mean()

store
1     20896.941787
2     26517.435162
4     26126.986071
6     21561.186477
10    25696.678370
13    25664.149474
14    30384.003017
19    19930.838157
20    28382.766385
27    24207.474711
31    18178.932225
39    18414.938423
Name: weekly_sales, dtype: float64

In [16]:
sales_df.groupby("store")["weekly_sales"].agg([min, max, sum])

C:\Users\Murti\AppData\Local\Temp\ipykernel_19336\2320737349.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  sales_df.groupby("store")["weekly_sales"].agg([min, max, sum])
C:\Users\Murti\AppData\Local\Temp\ipykernel_19336\2320737349.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  sales_df.groupby("store")["weekly_sales"].agg([min, max, sum])
C:\Users\Murti\AppData\Local\Temp\ipykernel_19336\2320737349.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  sales_df.groupby("store")["weekly_sales"].agg([min, max, sum])

          min        max          sum
store
1      -698.0  140504.41  18828144.55
2     -1098.0  178982.89  23786139.34
4       -88.0  165765.50  23540414.45
6      -698.0  119812.38  19275700.71
10     -798.0  232558.51  23178403.89
13      -98.0  166872.27  23431368.47
14     -498.0  293966.05  26889842.67
19     -449.0  147449.06  18057339.37
20     -598.0  195223.84  25828317.41
27     -409.0  177605.86  21786727.24
31     -224.0  131062.82  16179249.68
39     -159.0  114691.10  16113071.12

# Pivot tables

In [18]:
sales_df.groupby("store")["weekly_sales"].mean()

store
1     20896.941787
2     26517.435162
4     26126.986071
6     21561.186477
10    25696.678370
13    25664.149474
14    30384.003017
19    19930.838157
20    28382.766385
27    24207.474711
31    18178.932225
39    18414.938423
Name: weekly_sales, dtype: float64

In [19]:
sales_df.pivot_table(values="weekly_sales", index="store")

       weekly_sales
store
1      20896.941787
2      26517.435162
4      26126.986071
6      21561.186477
10     25696.678370
13     25664.149474
14     30384.003017
19     19930.838157
20     28382.766385
27     24207.474711
31     18178.932225
39     18414.938423

In [22]:
import numpy as np
sales_df.pivot_table(values="weekly_sales", index="store", aggfunc=np.median)

C:\Users\Murti\AppData\Local\Temp\ipykernel_19336\4216066387.py:2: FutureWarning: The provided callable <function median at 0x0000029A3B56A5C0> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  sales_df.pivot_table(values="weekly_sales", index="store", aggfunc=np.median)

       weekly_sales
store
1          9775.170
2         13764.940
4         13063.930
6         13200.780
10        13336.080
13        13050.060
14        14792.990
19        11091.770
20        14706.675
27        12689.850
31         7787.725
39         8980.720